*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.my-form {
  border: 2px solid #155d73;
  border-radius: 12px;
}
